[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.booproj
*.pidb
*.suo
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/
.utmp/
*_BurstDebugInformation_DoNotShip/
*.apk

